.review {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.review-section {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.review h2 {
    font-size: 25px;
}

.review-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.review-card {
    width: 60%;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #f7f7f7; 
    text-align: justify;
}

.review .error-message,
.review .loading-message {
    font-size: 22px;
}