<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Compra</title>
</head>
<body>
    <div>
        <h1>¡Gracias por tu compra!</h1>
        <p>Hola,</p>
        <p>Estamos encantados de informarte que tu compra del producto <strong>{{ name }}</strong> ha sido confirmada exitosamente.</p>
        <p>Tu ID de comprador es <strong>{{ buyer_id }}</strong> y el ID del producto es <strong>{{ product_id }}</strong>.</p>
        <p>Esperamos que disfrutes de tu compra y agradecemos tu confianza en nosotros.</p>
        <p>Saludos,</p>
        <p>El equipo de Cienciasmart</p>
    </div>
</body>
</html>
